# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/
ENV/

# Distribution / packaging
.Python
build/
dist/
*.egg-info/
*.egg
pip-wheel-metadata/

# Testing / coverage
.pytest_cache/
.mypy_cache/
.ruff_cache/
.nox/
.coverage
.coverage.*
htmlcov/

# IDE / tooling
.idea/
.vscode/

# Misc
.DS_Store
*.log
